$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

body{
	background-color:#000;
  color: #fff;
  padding:0;
  margin:0;
}


/* P1 - Seamless reader
 * ======================================================= */

 .container.features{
  padding: 100px 0;
}

.brief{
  h4{
    margin:0;
    padding:0;
    color:#aaa;
  }
  background-color:#111;
  padding:10px 0 10px 10px;
  color:#888;
  padding-left:100px;
  border-bottom: 1px solid #333;
  p{
    margin-bottom:0;
    margin: 10px 0px 5px;
  }
}

.logo{
  background-image:url(../images/logo.png);
  width:334px;
  height:74px;
  background-size:334px 74px;
  margin:50px 0;
}

.container{
	width:600px;
	margin: 0 auto;
	margin: 0 100px 200px 100px;

}

.features{
	h1{
		margin-bottom:30px;
	}

	li{
		list-style:none;
		line-height: 28px;
		a{
			transition: color 200ms linear;
			font-size:22px;
			text-decoration: none;
			&:hover{
				color:#23c1fa;
			}
		}
		&.disabled{
			opacity: 0.3;
		}
	}

}

.lyrics{
	padding: 20px;
	border: 1px solid #333;
	background: #161616;
	line-height:26px;
	font-size:18px;
	a{
		color:#ffc31c;
		text-decoration: none;

    &.highlight, &:hover{
      background-color:#ffc31c;
      color:black;
      .lyric-caret{
        color:black;
        background-color:#ffc31c;
      }
    }

    .lyric-caret{
      opacity: 0.7;
      position: absolute;
      right:-26px;
      color:#aaa;
      font-size:11px;
      font-weight:bold;
      text-align: center;
      margin-top:0px;
      text-decoration: none;
      background-color:#222;
      width:26px;
      height:22px;
      line-height:22px;
    }
  }
}

.lyrics-container{
  position: relative;
}

.definitions-container{
  width:400px;
  height:100%;
  position: fixed;
  top:0;
  left:750px;
  color:#aaa;

}

#definitions_line{
  position: absolute;
  height:3px;
  width:90px;
  background-color:#333;
  top:150px;
  left:680px;
  z-index: 99;
  display: block;
  transition: all 100ms linear;
  opacity: 0;
}

.definition{
  padding: 10px 20px;
  position: absolute;
  top:200px;
  width:90%;
  left:5%;
  background-color:#111;
  border: 1px solid #222;
  opacity: 0;
  transition: all 200ms linear;
  text-align: center;
  img{
    margin:10px auto;
  }

  p{
    text-align: left;
    font-size:14px;
    line-height:18px;
    clear:both;
    margin:10px 0px;

    &:first-child{
    }
  }

  &.show{
    opacity: 1;
  }
}

.multi-def{

}




/* P2 - Activity Module
 * ======================================================= */


 .container.p2{
  width: 480px;
  margin: 190px 100px 200px 460px;
  position: relative;
}

.activity-module{
  position:relative;
  border:1px solid #05aae5;
  background-color:rgb(30, 30, 30);

  h4{
    background-color:#111;
    color:#888;
    text-transform: uppercase;
    font-size:12px;
    padding:8px 10px 4px 10px;
    line-height: 12px;
    margin:0;
    font-weight:normal;

  }

  ul{
    padding:0;
    margin:0;
    border-top:1px solid rgb(30, 30, 30);

    li{
      width:100%;
      height:50px;
      background-color:#000;
      padding: 2px 0;
      margin:1px 0;
      list-style:none;
      transition: background-color 150ms linear;


      img{
        width:50px;
        height:50px;
        float:left;
        margin-left:5px;
        display: none;
      }

      .title{
        color:#05aae5;
        float:left;
        padding: 5px 10px 2px;
        font-size:15px;
      }

      &:hover{
        background-color:rgb(15, 15, 15);

        .song_metadata{
          opacity: 1;
        }
      }
    }
  }
}

.song_metadata{
  transition: opacity 150ms linear;
  clear:both;
  float:right;

  > div {
    transition: opacity 500ms ease-out;
    opacity: 0.3;
  }
}

.metadata .metadata_element, .song_metadata .metadata_element, .postlet_unit .postlet_infobar .metadata_element {
  text-indent: 14px;
  float: left;
  margin-right: 16px;
  height: 18px;
  font-size:12px;

}


.metadata .song_views, .song_metadata .song_views, .postlet_unit .postlet_infobar .song_views {
  position: relative;
  color: #dfc7ff;
  border-bottom: 0px dotted #750cfd;
  text-indent: 19px;
  line-height: 18px;
  margin-top:1px;
}
.metadata .annotation_count, .song_metadata .annotation_count, .postlet_unit .postlet_infobar .annotation_count {
  position: relative;
  color: #ffe7a6;
  border-bottom: 0px dotted #e8ab00;
  text-indent: 15px;
}
.metadata .verified_count, .song_metadata .verified_count, .postlet_unit .postlet_infobar .verified_count {
  position: relative;
  color: #c2e8a4;
  border-bottom: 0px dotted #61a52a;
  text-indent: 12px;
  border-bottom: 1px dotted #497c20;
}
.metadata .unreviewed_count, .song_metadata .unreviewed_count, .postlet_unit .postlet_infobar .unreviewed_count {
  position: relative;
  color: #ff8ba3;
  border-bottom: 0px dotted #cc012b;
}
.metadata .unreviewed_count:before, .song_metadata .unreviewed_count:before, .postlet_unit .postlet_infobar .unreviewed_count:before {
  content: "";
  float: left;
  background: url('http://assets.rapgenius.com/images/redesign/sprite.png?1376070268') 0px -184px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 3px;
}
.metadata .verified_count:before, .song_metadata .verified_count:before, .postlet_unit .postlet_infobar .verified_count:before {
  content: "";
  float: left;
  background: url('http://assets.rapgenius.com/images/redesign/sprite.png?1376070268') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 3px;
}
.metadata .annotation_count:before, .song_metadata .annotation_count:before, .postlet_unit .postlet_infobar .annotation_count:before {
  content: "";
  float: left;
  background: url('http://assets.rapgenius.com/images/redesign/sprite.png?1376070268') 0px -121px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 3px;
}
.metadata .song_views:before, .song_metadata .song_views:before, .postlet_unit .postlet_infobar .song_views:before {
  content: "";
  float: left;
  background: url('http://assets.rapgenius.com/images/redesign/sprite.png?1376070268') 0px -61px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 3px;
}

.rg-bg{
  background-image:url(../images/rg-bg.jpg);
  background-position:0px 116px;
  background-repeat: no-repeat;
}

.annotation_count, .verified_count, .unreviewed_count{
  // display: none;
}

.flash{
  transition: opacity 100ms linear;
  opacity: 1!important;
}

